---
- name: Install MinIO binary
  get_url:
    url: https://dl.min.io/server/minio/release/linux-amd64/minio
    dest: /usr/local/bin/minio
    mode: '0755'

- name: Create MinIO directories
  file:
    path: /var/lib/minio
    state: directory
    owner: minio
    group: minio

- name: Install systemd unit
  copy:
    dest: /etc/systemd/system/minio.service
    content: |
      [Unit]
      Description=MinIO
      After=network.target

      [Service]
      EnvironmentFile=/etc/mspmetro/env
      ExecStart=/usr/local/bin/minio server /var/lib/minio --console-address :9001
      User=minio
      Restart=always

      [Install]
      WantedBy=multi-user.target
