AWS_ACCESS_KEY_ID={{ minio_publish_user }}
AWS_SECRET_ACCESS_KEY={{ minio_publish_password }}
S3_BUCKET={{ minio_publish_bucket }}
S3_ENDPOINT_URL=http://127.0.0.1:9000
S3_REGION=us-east-1
S3_ADDRESSING_STYLE=path
PUBLISH_SITE_TREE=1
S3_OBJECT_ACL=none

